.navbar {
  background-color: #f08e8e;
  border-radius: 0;
  border: 0;
}


.navbar-brand h1 {
	color: #000;
	font-size: 1.75em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}


#bs-example-navbar-collapse-1 {
	padding: 0;
}

#choices {
    margin: 0px 0px;
    background-color: rgb(206,236,117);
	border: 1px solid black;
}

#choices li{
	text-align: center;
	border-bottom: 1px solid black;
	margin: 0px 5px;
}    

#choices li:last-of-type {
	border-bottom: 0;
}

#choices li a{
    color: #000000;
}  


#page_heading {
	font-size: 1.5em;
	font-weight: bold;
}

#long_text {
    background-color: rgb(237,190,103);
    height: 1000px;
    width: 90%;
    margin: 10px 5% 10px 5%;

}