* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.navbar {
  background-color: #5c5858;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
	color: #ffffff !important;
	font-size: 1.75em;
	font-weight: bold;
}


#bs-example-navbar-collapse-1 {
	padding: 0;
}

#choices {
    margin: 0px 0px;
    background-color: #8b5c5c;
	border: 1px solid black;
}

#choices li{
	text-align: center;
	border-bottom: 1px solid #5c5858;
	margin: 0px 5px;
	color: #5c5858;
	font-size: 1.25em;
	font-weight: bold;
}    

#choices li:last-of-type {
	border-bottom: 0;
}

#choices li a{
    color: #000000;
}  


#page_heading {
	font-size: 2em;
	font-weight: bold;
	color: #8b5c5c;
}

.section {
	margin: 10px;
	border: 1px solid #8b5c5c;
	background-color: #b6b6b4;
}	


h3 {
	color:  #8b5c5c;
	font-weight: bold;
}


.back_to_top a{
	margin-top: 50px;
}


.back_to_top a{
	background-color:  #8b5c5c;
	color: #b6b6b4;
	font-weight: bold;
	padding: 5px;
}